@font-face {
  font-family: "PN-Regular";
  src: url(PN_Regular.otf);
}

@font-face {
  font-family: "PN-Semibold";
  src: url(PN_Semibold.ttf);
}

@font-face {
  font-family: "PN-Bold";
  src: url(PN_Bold.otf);
}

body {
  min-height: 100vh;
  background-color: #171717;
  font-family: "PN-Regular";
  color: #e1e1e1;
}

.container {
  height: 500px;
  /* width: 100vw; */
  padding: 0;
  /* margin: 10px; */
  /* border-radius: 5px; */
  /* box-shadow: 0 2px 3px rgba(0, 0, 0, .3); */
}

.nav {
  position: fixed;
  background: #1e1e1e;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.nav li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}
.nav li.active {
  border-bottom: 3px solid #6441a4;
}
.nav li a {
  color: white;
  padding: 15px;
}
.nav-pills > li.active > a,
.nav-pills > li.active > a:focus,
.nav-pills > li.active > a:hover {
  background: none !important;
}
.col-container {
  display: flex;
  width: 100%;
}

.colmn {
  flex: 1;
  padding: 5px;
  text-align: center;
}

.col {
  padding: 15px;
}

.colmn h5 {
  font-family: "PN-Bold";
  background-color: white;
  border-radius: 500px;
  padding: 22px 10px;
  display: inline-block;
  margin: 0;
  color: #171717;
  font-size: 20px;
  position: relative;
  top: 25px;
}

h4 {
  font-size: 4.5vw;
  background-color: #ecddfe;
  text-align: center;
  color: #171717;
  padding: 12px;
  font-family: "PN-Semibold";
  border-radius: 3px;
}

.imgTeam {
  width: 60%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.hide {
  display: none;
}

.tab-content {
  /* padding: 15px; */
  padding-top: 53px;
}
.top,
.center,
.bottom {
  text-align: center;
}
.top {
  background: #ecddfe;
  padding-bottom: 10px;
}
.bottom {
  padding-top: 10px;
}
.middle img {
  width: 100%;
}
article.today {
  background: #fffcec;
  height: calc(100vh - 53px);
}
p.edited {
  margin: 0;
  color: #171717;
  font-weight: 600;
}
#menu1 article {
  padding: 10px;
}
#material-tabs {
  position: relative;
  display: block;
  padding: 0;
  /* border-bottom: 1px solid #e0e0e0; */
}

#material-tabs > a {
  position: relative;
  display: inline-block;
  text-decoration: none;

  text-transform: uppercase;
  font-size: 14px;
  /* font-weight: 600; */
  font-family: "PN-Semibold";
  color: #ffffff;
  text-align: center;
  width: calc(100vw / 3);
}

#material-tabs > a.active {
  /* font-weight: 700; */
  outline: none;
}

#material-tabs > a:not(.active):hover {
  background-color: inherit;
  color: #7c848a;
}

@media only screen and (max-width: 520px) {
  .nav-tabs#material-tabs > li > a {
    font-size: 11px;
  }
}

.yellow-bar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 4px;
  background: #6441a4;
  display: block;
  left: 0;
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
}

#tab1-tab.active ~ span.yellow-bar {
  left: 0;
  width: 130px;
}

#tab2-tab.active ~ span.yellow-bar {
  left: 165px;
  width: 82px;
}

#tab3-tab.active ~ span.yellow-bar {
  left: 253px;
  width: 135px;
}

#tab4-tab.active ~ span.yellow-bar {
  left: 392px;
  width: 163px;
}
