@font-face {
  font-family: "PN-Regular";
  src: url(PN_Regular.otf);
}

@font-face {
  font-family: "PN-Semibold";
  src: url(PN_Semibold.ttf);
}

@font-face {
  font-family: "PN-Bold";
  src: url(PN_Bold.otf);
}

body {
  min-height: 100vh;
  background-color: #171717;
  font-family: "PN-Regular";
  color: #e1e1e1;
}

.container {
  padding: 0;
  margin: 0;
}

.nav {
  position: fixed;
  background: #1e1e1e;
  width: 100%;
  z-index: 99;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}

.nav li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
}

.nav li.active {
  border-bottom: 3px solid #6441a4;
}

.nav li a {
  color: white;
  padding: 15px;
}

.nav-pills>li.active>a,
.nav-pills>li.active>a:focus,
.nav-pills>li.active>a:hover {
  background: none !important;
}

.col-container {
  display: flex;
  width: 100%;
}

.colmn {
  flex: 1;
  padding: 5px;
  text-align: center;
}

.firstMatch {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0px;
  height: calc((100vh - 54px) / 2);
  padding-left: 0px;
  align-items: center;
  justify-content: center;
  list-style: none;
}

.secondMatch {
  border-top: 1px solid #0000000d;
}

.firstMatch li {
  -webkit-box-flex: 1;
  -webkit-flex-grow: 1;
  -ms-flex-positive: 1;
  flex-grow: 1;
  text-align: center;
  height: 100%;
}

.firstMatch .imgTeamTodayDouble {
  width: 25vw;
}

.firstMatch .middle {
  background: linear-gradient(90deg,
      rgba(255, 252, 236, 1) 46%,
      rgba(255, 252, 236, 1) 50%,
      rgba(236, 221, 254, 1) 57%);
}

.firstMatch .right {
  background: #ecddfe;
}

.firstMatch .imgTeamTodayDouble {
  margin-top: calc(100% / 3);
}

.firstMatch .middle img {
  height: 100%;
  width: auto;
}

.col {
  padding: 15px;
}

.colmn h5 {
  font-family: "PN-Bold";
  display: inline-block;
  margin: 0;
  font-size: 20px;
  position: relative;
  top: 5px;

}

.borderTop {
  border-top: 1px solid #ffffff08;
  margin-top: 15px;
  padding-top: 15px;
}


h4 {
  font-size: 4.5vw;
  background-color: #ecddfe;
  text-align: center;
  color: #6341a3;
  padding: 12px;
  font-family: "PN-Semibold";
  border-radius: 3px;
  background: rgb(255, 252, 236);
  background: linear-gradient(90deg,
      rgba(255, 252, 236, 1) 0%,
      rgba(236, 221, 254, 1) 100%);
}

article h4 {
  margin-top: 0;
}

article h3 {
  text-align: center;
}

.imgTeam {
  width: 60%;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.imgTeamToday {
  width: 30vh;
  display: block;
  text-align: center;
  margin: 0 auto;
}

.hide {
  display: none;
}

.tab-content {
  padding-top: 0px;
  /* padding-top: 54px; */
}

.top,
.center,
.bottom {
  text-align: center;
}

.top {
  background: #ecddfe;
  padding-bottom: 10px;
}

.bottom {
  padding-top: 10px;
  background: #fffcec;
}

.middle img {
  width: 100%;
}

article.today {
  background: #171717;
  height: calc(100vh - 54px);
}

article.today .col-container {
  padding-top: 35px;
  padding-bottom: 35px;

}

p.edited {
  margin: 0;
  color: #171717;
  font-weight: 600;
}

p.editedDouble {
  margin: 0;
  color: #171717;
  font-weight: 600;
}

#menu1 article {
  padding: 10px;
}

#menu2 {
  padding: 10px;
}

#menu2 h2 {
  margin: 0;
  background: red;
  padding: 10px;
  background: rgb(255, 252, 236);
  background: linear-gradient(90deg,
      rgba(255, 252, 236, 1) 0%,
      rgba(236, 221, 254, 1) 100%);
  font-size: 4.5vw;
  text-align: center;
  color: #6341a3;
  border-radius: 3px;
  font-family: "PN-Semibold";
}

#material-tabs {
  position: relative;
  display: block;
  padding: 0;
  /* border-bottom: 1px solid #e0e0e0; */
}

.panel-heading {
  padding: 0px;
}

#material-tabs>a {
  position: relative;
  display: inline-block;
  text-decoration: none;

  text-transform: uppercase;
  font-size: 14px;
  /* font-weight: 600; */
  font-family: "PN-Semibold";
  color: #ffffff;
  text-align: center;
  width: calc(100vw / 3);
}

#material-tabs>a.active {
  /* font-weight: 700; */
  outline: none;
}

#material-tabs>a:not(.active):hover {
  background-color: inherit;
  color: #7c848a;
}

@media only screen and (max-width: 520px) {
  .nav-tabs#material-tabs>li>a {
    font-size: 11px;
  }
}

.yellow-bar {
  position: absolute;
  z-index: 10;
  bottom: 0;
  height: 4px;
  background: #6441a4;
  display: block;
  left: 0;
  transition: left 0.2s ease;
  -webkit-transition: left 0.2s ease;
}

#tab1-tab.active~span.yellow-bar {
  left: 0;
  width: 130px;
}

#tab2-tab.active~span.yellow-bar {
  left: 165px;
  width: 82px;
}

#tab3-tab.active~span.yellow-bar {
  left: 253px;
  width: 135px;
}

#tab4-tab.active~span.yellow-bar {
  left: 392px;
  width: 163px;
}

section {
  width: 100%;
}

.sectionhead {
  border: 2px solid #1abc9c;
  background: #1abc9c;
  color: white;
}

section {
  text-align: center;
  padding: 5px 0;
}

.fixed {
  top: 0;
  position: fixed;
  width: auto;
  display: none;
  border: none;
}

.scrollMore {
  margin-top: 600px;
}

.up {
  cursor: pointer;
}

.panel-collapse {
  height: 67vh;
  overflow: scroll;
}

.panel {
  display: none;
  animation: fadein 0.8s;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.panel-title {
  font-size: 1.5em;
  font-weight: bold;
}

.radio {
  display: none;
}

#one:checked~.panels #one-panel,
#two:checked~.panels #two-panel,
#three:checked~.panels #three-panel,
#four:checked~.panels #four-panel,
#five:checked~.panels #five-panel,
#six:checked~.panels #six-panel {
  display: block;
}

#one:checked~.scrollmenu #one-tab,
#two:checked~.scrollmenu #two-tab,
#three:checked~.scrollmenu #three-tab,
#four:checked~.scrollmenu #four-tab,
#five:checked~.scrollmenu #five-tab,
#six:checked~.scrollmenu #six-tab {
  background: #ecddfe;
  color: #000;
  /* border-top: 3px solid #000; */
}

.scrollmenu {
  overflow: auto;
  white-space: nowrap;
}

.scrollmenu label {
  display: inline-block;
  color: white;
  text-align: center;
  padding: 3px;
  text-decoration: none;
  border-radius: 500px;
  background: #1e1e1e;
  margin-right: 15px;
}

.scrollmenu label img {
  width: calc(100vw / 5.8);
}

.panel {
  background-color: #171717 !important;
}

.intro h5 {
  border-bottom: 1px solid #ffffff24;
  padding-bottom: 10px;
  font-size: 5vw;
}

.intro img {
  width: 38vw;
}

.col-12,
.col-6 {
  padding-left: 15px;
}

.titles {
  border-left: 3px solid #64359d;
  padding-left: 5px;
  font-size: 21px;
  margin-bottom: 18px;
}

.media {
  margin-bottom: 10px;
}

.media p {
  opacity: 0.6;
  margin: 0;
}

.media-body {
  position: relative;
  top: 15px;
}

.media-object {
  border-radius: 500px;
}

h5.media-heading {
  text-transform: uppercase;
}

.table-striped>tbody>tr:nth-of-type(odd) {
  background-color: #6341a31c;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-top: 0px solid red;
}

.table>tbody>tr>td,
.table>tbody>tr>th,
.table>tfoot>tr>td,
.table>tfoot>tr>th,
.table>thead>tr>td,
.table>thead>tr>th {
  border-bottom: 0px solid red;
  padding: 12px 5px;
}

.table>caption+thead>tr:first-child>td,
.table>caption+thead>tr:first-child>th,
.table>colgroup+thead>tr:first-child>td,
.table>colgroup+thead>tr:first-child>th,
.table>thead:first-child>tr:first-child>td,
.table>thead:first-child>tr:first-child>th {
  background: #6341a3;
}

table {
  margin-top: 15px;
  border-radius: 3px;
  background: #252525;
  background: url(psl-img/psg-bg.jpg);
  background-size: cover;
  margin: 0;

}

table td,
table tbody tr th {
  color: #6241a2;
}

tbody tr th:nth-child(1),
thead tr th:nth-child(1) {
  text-align: center;
}

tbody tr td:nth-last-child(1),
thead tr th:nth-last-child(1) {
  text-align: center;
}

tbody tr td:nth-child(1) {
  font-weight: bold;
  font-family: 'PN-Bold';
}

.table-bordered>tbody>tr>td,
.table-bordered>tbody>tr>th,
.table-bordered>tfoot>tr>td,
.table-bordered>tfoot>tr>th,
.table-bordered>thead>tr>td,
.table-bordered>thead>tr>th {
  border: 0px solid red;
}

.placeTime {
  position: relative;
  top: 16px;
  background: #ffffff;
  border-radius: 15px;
  padding: 2px 9px;
  color: #000000;
  /* font-weight: bold; */
  border: 2px solid #ffffff1a;
  left: -1px;
}

.undef {
  position: relative;
  top: 6px;
}

@media (min-width:500px) {
  .firstMatch .imgTeamTodayDouble {
    width: 25vh;
  }

  .firstMatch .imgTeamTodayDouble {
    margin-top: calc(100% / 8);
  }

  h4 {
    font-size: 2.5vw;
  }

  .colmn h5 {
    position: relative;
    top: 28px;
  }

  .placeTime {
    position: relative;
    top: 36px;
    background: #ffffff;
    border-radius: 15px;
    padding: 2px 9px;
    color: #000000;
    /* font-weight: bold; */
    border: 2px solid #ffffff1a;
    left: -1px;
  }

  .undef {
    position: relative;
    top: 3px;
  }
}

.undefined h5 {
  position: relative;
  top: -5px;
  ;
}