/* -------------------------------- 

Primary style

-------------------------------- */

*,
*::after,
*::before {
    box-sizing: border-box;
}


/* -------------------------------- 

Patterns - reusable parts of our design

-------------------------------- */

.cd-btn {
    display: inline-block;
    padding: 1.4em 1.6em;
    margin-bottom: 2em;
    border-radius: 50em;
    background-color: #faa71a;
    color: #ffffff;
    font-weight: bold;
    font-size: 1.3rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.1);
}

.no-touch .cd-btn:hover {
    background-color: #323c50;
}

.cd-about .cd-btn {
    padding: 13px;
}


/* -------------------------------- 

Main Components 
-------------------------------- */

.right-txt-md {
    text-align: right;
}

.left-txt-md {
    text-align: left;
}

.center-text-md {
    text-align: center;
}

.mg-0 {
    margin: 0 !important;
}

.mg-tp-50 {
    margin-top: 50px;
}

body::after,
body::before {
    /* these are the 2 half blocks which cover the content once the animation is triggered */
    content: '';
    height: 50vh;
    width: 100%;
    position: fixed;
    left: 0;
    background-color: #000;
    z-index: 1;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transition: -webkit-transform 0.4s 0.4s;
    -moz-transition: -moz-transform 0.4s 0.4s;
    transition: transform 0.4s 0.4s;
}

body::before {
    top: 0;
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
    transform: translateY(-100%);
}

body::after {
    bottom: 0;
    -webkit-transform: translateY(100%);
    -moz-transform: translateY(100%);
    -ms-transform: translateY(100%);
    -o-transform: translateY(100%);
    transform: translateY(100%);
}

body.page-is-changing::after,
body.page-is-changing::before {
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transform: translateY(0);
    -webkit-transition: -webkit-transform 0.4s 0s;
    -moz-transition: -moz-transform 0.4s 0s;
    transition: transform 0.4s 0s;
}

main {
    height: 100vh;
    /*padding: 10px;*/
    text-align: center;
}

.cd-about main {
    height: auto;
    padding: 0;
}

main .cd-main-content {
    position: relative;
    height: calc(100vh - 20px);
    height: 100%;
}

main .cd-main-content>div {
    height: 100%;
    overflow: hidden;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

main .cd-main-content::after,
main .cd-main-content::before {
    /* these are the 2 gradient overlay at the top and bottom of the .cd-main-content - to indicate that you can scroll */
    content: '';
    position: absolute;
    left: 0;
    height: 50px;
    width: 100%;
}

main .cd-main-content::before {
    top: 0;
}

main .cd-main-content::after {
    bottom: 0;
}

main .cd-main-content.cd-index {
    /* .cd-main-content basic style - index page */
    /* vertically center its content */
    display: table;
    width: 100%;
}

main .cd-main-content.cd-index>div {
    /* vertically center the content inside the .cd-index */
    display: table-cell;
    vertical-align: middle;
}

.go_back_btn {
    border: none;
}

.cd-cover-layer {
    /* layer that covers the content when the animation is triggered */
    position: fixed;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    height: calc(100% - 20px);
    width: calc(100% - 20px);
    opacity: 0;
    visibility: hidden;
    -webkit-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
    -moz-transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
    transition: opacity 0.4s 0.4s, visibility 0s 0.8s;
}

.cd-about .cd-cover-layer {
    background-color: #faa71a;
}

.page-is-changing .cd-cover-layer {
    opacity: 1;
    visibility: visible;
    -webkit-transition: opacity 0.3s 0s, visibility 0s 0s;
    -moz-transition: opacity 0.3s 0s, visibility 0s 0s;
    transition: opacity 0.3s 0s, visibility 0s 0s;
}

.cd-loading-bar {
    /* this is the loding bar - visible while switching from one page to the following one */
    position: fixed;
    z-index: 2;
    left: 50%;
    top: 50%;
    height: 2px;
    width: 90%;
    visibility: hidden;
    -webkit-transition: visibility 0s 0.4s, -webkit-transform 0.4s 0s ease-in;
    -moz-transition: visibility 0s 0.4s, -moz-transform 0.4s 0s ease-in;
    transition: visibility 0s 0.4s, transform 0.4s 0s ease-in;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
}

.cd-about .cd-loading-bar {
    background-color: #faa71a;
}

.cd-about .cd-loading-bar::before {}

.cd-loading-bar::before {
    /* this is the progress bar inside the loading bar */
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    background-color: #faa71a;
    /* Force Hardware Acceleration */
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-transform: translateZ(0);
    -moz-transform: translateZ(0);
    -ms-transform: translateZ(0);
    -o-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-transform: scaleX(0);
    -moz-transform: scaleX(0);
    -ms-transform: scaleX(0);
    -o-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transform-origin: left center;
    -moz-transform-origin: left center;
    -ms-transform-origin: left center;
    -o-transform-origin: left center;
    transform-origin: left center;
}

.page-is-changing .cd-loading-bar {
    visibility: visible;
    -webkit-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -moz-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -ms-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -o-transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    transform: translateX(-50%) translateY(-50%) scaleX(0.3);
    -webkit-transition: visibility 0s 0.3s, -webkit-transform 0.4s 0.4s;
    -moz-transition: visibility 0s 0.3s, -moz-transform 0.4s 0.4s;
    transition: visibility 0s 0.3s, transform 0.4s 0.4s;
}

.page-is-changing .cd-loading-bar::before {
    -webkit-transform: scaleX(1);
    -moz-transform: scaleX(1);
    -ms-transform: scaleX(1);
    -o-transform: scaleX(1);
    transform: scaleX(1);
    -webkit-transition: -webkit-transform 0.8s 0.8s ease-in;
    -moz-transition: -moz-transform 0.8s 0.8s ease-in;
    transition: transform 0.8s 0.8s ease-in;
}

span.scroll_down {
    position: absolute;
    bottom: 40px;
    left: 50%;
    width: 30px;
    height: 50px;
    margin-left: -15px;
    border: 2px solid #fff;
    border-radius: 50px;
    box-sizing: border-box;
}

span.scroll_down:before {
    position: absolute;
    top: 10px;
    left: 50%;
    content: '';
    width: 6px;
    height: 6px;
    margin-left: -3px;
    background-color: #fff;
    border-radius: 100%;
    -webkit-animation: sdb10 2s infinite;
    animation: sdb10 2s infinite;
    box-sizing: border-box;
}

.header {
    background: #faa71a;
    width: 100%;
    height: 50px;
    position: fixed;
    top: 0;
    z-index: 0;
}

.contents_project {
    position: relative;
    z-index: -1;
    margin-top: 55px;
    padding: 30px;
}

.header .back {
    position: absolute;
    top: 7px;
    left: 7px;
    background: white;
    border-radius: 40px;
    z-index: 1;
    padding: 7px 10px;
}

.header .visit {
    position: absolute;
    top: 7px;
    right: 7px;
    background: white;
    border-radius: 40px;
    z-index: 1;
    padding: 7px 015px
}

.header .back a {
    position: relative;
    top: 7px;
    font-size: 12px;
}

.header .head_title {
    width: 100%;
    float: right;
}

.header .head_title h1 {
    position: relative;
    top: 10px;
    margin-bottom: 0;
    font-size: 25px;
}

.fade_black {
    background: #1d1d1d;
}

.project_image_main {
    margin-top: 20px;
    border-radius: 5px;
}

.project_intro {
    margin-top: 10px;
}

.web_images img {
    width: 300px;
    padding: 25px;
}

#img_break_1 {
    background: url('../img/flowchart.jpg');
    height: 33vh;
    width: 100%;
    background-size: cover;
    vertical-align: middle;
    display: flex;
    align-items: center;
    background-position: 0px, 0px;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#img_break_1 h2 {
    margin: 0;
    text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.29);
}

@-webkit-keyframes sdb10 {
    0% {
        -webkit-transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        -webkit-transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes sdb10 {
    0% {
        transform: translate(0, 0);
        opacity: 0;
    }

    40% {
        opacity: 1;
    }

    80% {
        transform: translate(0, 20px);
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@media (min-width: 769px) and (max-width:990px) {
    .nav_toggle {
        display: none;
    }
}

@media (min-width: 769px) and (max-width:992px) {
    .founder_box {
        min-height: 300px;
    }

    .founder_name {
        min-height: 51px;
    }

    .founder_talent {
        min-height: 40px;
    }
}

@media (min-width: 992px) {
    .founder_box {
        min-height: 335px;
    }

    .founder_name {
        min-height: 51px;
    }
}

@media only screen and (min-width: 768px) {
    .cd-loading-bar {
        width: calc(100% - 40px);
    }

    .cd-cover-layer {
        height: calc(100% - 40px);
        width: calc(100% - 40px);
    }

    main .cd-main-content {
        height: calc(100vh - 40px);
        height: 100%;
    }

    main.cd-index>div {
        padding-top: 200px;
    }

    main.cd-index>div {
        padding-top: 50px;
    }

    .main_inner_popup {
        height: auto !important;
    }
}

@media (max-width:767px) {
    .right-txt-xs {
        text-align: right !important;
    }

    .left-txt-xs {
        text-align: left !important;
    }

    .center-txt-xs {
        text-align: center !important;
    }

    .pd-15-xs {
        padding: 15px;
    }

    main .cd-main-content.cd-index {
        display: flex;
    }

    .contents_project {
        padding: 35px;
        margin-top: 20px !important;
    }

    .header .back,
    .header .visit {
        position: absolute;
        top: 11px !important;
        padding: 4px 8px !important;
    }

    .header .head_title h1 {
        position: relative;
        top: 17px;
        margin-bottom: 0;
        font-size: 20px;
    }

    #works img {
        margin-bottom: 15px;
    }

    #works {
        padding-bottom: 30px;
    }

    .logo_image {
        width: 45vw;
        height: auto;
    }
}

/*
     FILE ARCHIVED ON 11:28:21 Oct 01, 2018 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 08:15:00 Mar 05, 2019.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
*/
/*
playback timings (ms):
  LoadShardBlock: 237.946 (3)
  esindex: 0.005
  captures_list: 254.827
  CDXLines.iter: 10.712 (3)
  PetaboxLoader3.datanode: 165.136 (4)
  exclusion.robots: 0.131
  exclusion.robots.policy: 0.119
  RedisCDXSource: 3.889
  PetaboxLoader3.resolve: 93.294 (2)
  load_resource: 110.634
*/