        body {
            font-family: 'Raleway', sans-serif;
            font-weight: 400;
            overflow-x: hidden;
            line-height: 35px;
        }

        p {
            line-height: 35px;
        }
        .container-padding{
            padding:10vh 90px;
        }
        .mg-t-50{
            margin-top:50px;
        }
        .fontWeight600{
            font-weight: 600;
        }
        .fontWeight900{
            font-weight: 900;
        }
        .brandBlueText {
            color: #193561;
        }

        .brandYellowText {
            color: #FDB515;
        }

        .brandBlueBg {
            background: #193561 !important;
        }

        .bradnBlueBorder {
            border-color: #193561;
        }

        .brandYellowBg {
            background: #FDB515;
        }

        .grayBlackText {
            color: #3e3e3e;
        }

        .whiteText {
            color: #fff;
        }

        .floatLeft {
            float: left;
        }

        .floatRight {
            float: right;
        }

        .posRel {
            position: relative;
        }

        /* line 97, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        a {
            text-decoration: none;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        /* line 101, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        a:hover {
            outline: none;
            text-decoration: none;
        }

        /* line 106, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        h1,
        h2,
        h3,
        h4,
        h5,
        h6 {
            color: #2b2b2b;
            font-family: "Raleway", sans-serif;
            -webkit-transition: 0.5s;
            transition: 0.5s;
        }

        /* line 117, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        p {
            font-family: "Raleway", sans-serif;
            line-height: 2;
            font-size: 15px;
            margin-bottom: 0px;
            color: #2b2b2b;
            font-weight: 400;
        }

        /* line 126, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        h2 {
            font-size: 44px;
            line-height: 28px;
            color: #2b2b2b;
            font-weight: 600;
            line-height: 1.222;
        }

        @media (max-width: 576px) {

            /* line 126, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
            h2 {
                font-size: 22px;
                line-height: 25px;
            }
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {

            /* line 126, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
            h2 {
                font-size: 24px;
                line-height: 25px;
            }
        }

        /* line 146, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        h3 {
            font-size: 24px;
            line-height: 25px;
        }

        @media (max-width: 576px) {

            /* line 146, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
            h3 {
                font-size: 20px;
            }
        }

        /* line 156, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        h5 {
            font-size: 18px;
            line-height: 22px;
        }

        /* line 161, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        img {
            max-width: 100%;
        }

        /* line 165, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_common.scss */
        a:focus,
        .button:focus,
        button:focus,
        .btn:focus {
            text-decoration: none;
            outline: none;
            box-shadow: none;
            -webkit-transition: 1s;
            transition: 1s;
        }


        /**************menu part start*****************/
        /* line 3, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu{
            position: fixed;
            width: 100%;
            z-index: 100;
            background: white;
        }
        .main_menu .navbar-brand {
            padding-top: 0rem;
            padding-bottom: 0px;
        }

        /* line 7, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .navbar {
            padding: 0px;
        }

        /* line 12, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .main-menu-item ul li .nav-link {
            color: #193561;
            opacity: 0.5;
            font-size: 14px;
            padding: 35px 21px;
            font-family: "Raleway", sans-serif;
            text-transform: capitalize;
            line-height: 16px;
            font-weight: 600;
            transition: all 300ms ease-in;
        }

        /* line 20, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .main-menu-item ul li .nav-link:hover {
            color: #193561 !important;
            opacity: 1;
            /*font-weight: 600;*/
            transition: all 300ms ease-in;
        }
        .main_menu .main-menu-item ul li .nav-link{
          position: relative;
        }
        .main_menu .main-menu-item ul li .nav-link:after{
            content: "";
            position: absolute;
            height: 2px;
            width: 0%;
            background: #fdb515;
            bottom: 0px;
            left: 0px;
            transition: all 300ms ease-in;
        }
        .main_menu .main-menu-item ul li .nav-link:hover:after{
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background: #fdb515;
            bottom: 0px;
            left: 0px;
            transition: all 300ms ease-in;
        }
        .navDropWrapper .nav-link:hover:after{
            content: none !important;
        }
        .main_menu .main-menu-item ul li.active .nav-link {
           color: #193561;
            opacity: 1;
        }
        .main_menu .main-menu-item ul li.active .nav-link:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background: #193561;
            bottom: 0px;
            left: 0px;
            transition: all 300ms ease-in;
        }
        div.sub_menu{
            display:none;
            position: absolute;
            visibility: hidden;
            top: 87px;
            -webkit-transition:  500ms visibility ease;
            transition: 500ms visibility ease;
            z-index: 99;
            background:#fdb515;
            box-shadow:6px 6px 5px 0px #0000001a;
            border-bottom-right-radius:15px;
            border-bottom-left-radius:15px;
            border: 2px solid #da9600;
            border-top: 0px;
            
        }
        .sub_menu li{
            list-style: none;
        }
        .sub_menu.show{
            display: block;
            visibility: visible;
            background:#fdb515;
            border-radius:0px;
            -webkit-transition:  500ms visibility ease;
            transition: 500ms visibility ease;
            width: auto;
            box-shadow:6px 6px 5px 0px #0000001a;
            border-bottom-right-radius:15px;
            border-bottom-left-radius:15px;
            border: 2px solid #da9600;
            border-top: 0px;
        }
        .dropdown_menu{
            padding:0;
        }
        .dropdown_menu li a{
            /* color:white !important; */
        }
        .sub_menu ul.dropdown_menu li{
            display: block;
            border-bottom: 1px solid rgba(255, 255, 255, 0.281);
            padding: 7px 0;
            position: relative;
        }
        .sub_menu ul.dropdown_menu li:last-child{
            border-bottom: none;
        }
        .sub_menu ul.dropdown_menu li a{
            color: #193561;
            opacity: 0.5;
            font-size: 14px;
            padding:15px;
            font-family: "Raleway", sans-serif;
            text-transform: capitalize;
            line-height: 16px;
            font-weight: 600;
            transition: all 300ms ease-in;
        }
        .sub_menu ul.dropdown_menu li:hover a{
            color:#193561;
            opacity: 1;
        }
        /* .sub_menu.show ul.dropdown_menu li div.sub_menu2{
            display: none;
            position: absolute;
            left: 130px;
            top: 15px;
            background: green;
            border-radius: 5px;
        }
        .sub_menu.show ul.dropdown_menu li:hover div.sub_menu2{
            display: block;
            -webkit-transition:  .5s all ease;
            transition: .5s all ease;
        }
        .sub_menu.show ul.dropdown_menu li:hover div.sub_menu2 ul{
            display: table;
        }
        .sub_menu.show ul.dropdown_menu li:hover div.sub_menu2 ul li{
            display: table-cell;
            padding: 10px;
            border-bottom: none;
            border-right: 1px solid red;
        }
        .sub_menu.show ul.dropdown_menu li:hover div.sub_menu2 ul li:last-child{
            border-right: none;
        }
        .sub_menu.show ul.dropdown_menu li:hover div.sub_menu2 ul li a{
            color: black;
            font-size: 13px;
        }
        .sub_menu.show ul.dropdown_menu li:hover div.sub_menu2 ul li:hover a{
            color: red;
            font-size: 14px;
        } */
        
        
        @media only screen and (min-width: 992px) and (max-width: 1200px) {

            /* line 12, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu .main-menu-item ul li .nav-link {
                padding: 35px 20px;
            }
        }

        /* line 29, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu #search_1 {
            padding-top: 4px;
        }

        /* line 31, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu #search_1 i {
            color: #000;
        }

        /* line 35, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu #search_input_box {
            position: fixed;
            left: 50%;
            -webkit-transform: translateX(-50%);
            -moz-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
            -o-transform: translateX(-50%);
            transform: translateX(-50%);
            width: 100%;
            max-width: 1140px;
            z-index: 999;
            text-align: center;
            background: #B08EAD;
            box-shadow: 0 10px 15px rgba(0, 0, 0, 0.2);
        }

        /* line 49, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu #search_input_box ::placeholder {
            color: #fff;
        }

        @media (max-width: 991px) {

            /* line 35, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu #search_input_box {
                margin-top: 15px;
            }
        }

        /* line 58, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu #search_input_box .form-control {
            background: transparent;
            border: 0;
            color: #ffffff;
            font-weight: 400;
            font-size: 15px;
            padding: 0;
        }

        /* line 66, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu #search_input_box .btn {
            width: 0;
            height: 0;
            padding: 0;
            border: 0;
        }

        /* line 72, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu #search_input_box .ti-close {
            color: #fff;
            font-weight: 600;
            cursor: pointer;
            padding: 10px;
            padding-right: 0;
        }

        /* line 79, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .search-inner {
            padding: 5px 5px;
        }

        /* line 82, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .form-control:focus {
            box-shadow: none;
        }

        /* line 85, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .active_color {
            color: #f5790b !important;
        }

        /* line 89, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu a i {
            color: #2b2b2b !important;
            position: relative;
            z-index: 1;
            font-size: 20px;
            margin-left: 30px;
        }
        .main_menu a i.arrowDown{
            font-size:13px;
            margin-left:10px ;
        }
        /* line 98, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .cart .dropdown-toggle::after {
            display: inline-block;
            margin-left: .255em;
            vertical-align: .255em;
            content: "";
            border: 0px solid transparent;
        }

        /* line 106, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main_menu .cart i {
            position: relative;
            z-index: 1;
        }

        /* line 113, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .menu_fixed {
            position: fixed;
            z-index: 9999 !important;
            width: 100%;
            box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.05);
            top: 0;
            background-color: #fff;
        }

        /* line 121, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .menu_fixed .active_color {
            color: #B08EAD !important;
        }

        /* line 127, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .dropdown .dropdown-menu {
            transition: all 0.5s;
            overflow: hidden;
            transform-origin: top center;
            transform: scale(1, 0);
            display: block;
            border: 0px solid transparent;
            background-color: #B08EAD;
        }

        /* line 135, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .dropdown .dropdown-menu .dropdown-item {
            font-size: 14px;
            padding: 8px 20px !important;
            color: #fff !important;
            background-color: #B08EAD;
            text-transform: capitalize;
        }

        @media (min-width: 991px) {

            /* line 147, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .dropdown:hover .dropdown-menu {
                transform: scale(1);
                box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
            }

            /* line 154, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .dropdown:hover .dropdown-menu {
                display: block;
            }
        }

        @media (max-width: 991px) {

            /* line 161, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu {
                padding: 26px 0px;
            }

            /* line 165, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .home_menu .main-menu-item {
                padding-left: 0px;
            }

            /* line 169, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu .main-menu-item {
                text-align: left !important;
                max-height: 300px;
                overflow: scroll;
            }

            /* line 173, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu .main-menu-item .nav-item {
                padding: 10px 15px !important;
            }

            /* line 176, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu .main-menu-item .nav-item .nav-link {
                padding: 5px 15px !important;
                color: #000;
            }

            /* line 183, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .navbar-collapse {
                z-index: 9999 !important;
                position: absolute;
                left: 0;
                top: 50px;
                width: 100%;
                background-color: #fff;
                text-align: center !important;
            }

            /* line 194, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .dropdown .dropdown-menu {
                transform: scale(1, 0);
                display: none;
                margin-top: 10px;
            }

            /* line 201, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .dropdown:hover .show {
                transform: scale(1);
                display: block;
                color: #B08EAD;
            }

            /* line 208, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .dropdown .dropdown-item:hover {
                color: #B08EAD !important;
            }

            /* line 213, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .navbar-brand img {
                max-width: 120px;
                margin: 0 auto;
                position: absolute;
                left: 0;
                right: 0;
                display: inline-block;
                top: 3px;
            }

            /* line 223, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .navbar-light .navbar-toggler {
                border-color: transparent;
                position: absolute;
                left: 0;
            }

            /* line 230, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .menu_icon i {
                color: #000;
            }

            /* line 235, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu a i {
                margin-left: 13px;
            }
        }

        @media (max-width: 576px) {

            /* line 241, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu {
                padding: 20px 0px;
            }
        }

        @media only screen and (min-width: 576px) and (max-width: 767px) {

            /* line 247, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
            .main_menu {
                padding: 20px 0px;
            }
        }

        /* line 252, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .dropdown-menu {
            border: 0px solid rgba(0, 0, 0, 0.15) !important;
            background-color: #fafafa;
        }

        /* line 259, /Applications/MAMP/htdocs/old/palash/cl/shop_html/sass/_menu.scss */
        .main-menu-item {
            justify-content: center !important;
        }

        header {
            border-bottom: 1px solid #0000000f;
        }

        .boxVHC {
            position: relative;
            height: 100%;
            width: 100%;
            padding-left: 100px;
            height: 80vh;
        }

        .sliderImage .boxVHC {
            padding-left: 0px;
        }

        #div2 {
            display: inline-block !important;
        }

        .sliderImage {
            height: 80vh;
            overflow: hidden;
            padding: 0vw 4vw;
        }

        .sliderImage img {
            height: 100%;
            width: 100%;
        }

        .innerBoxVHC {
            margin: 0;
            position: absolute;
            top: 50%;
            -ms-transform: translateY(-50%);
            transform: translateY(-50%);
        }

        .headerText {
            font-family: 'Raleway', sans-serif;
            font-weight: 900;
            font-size: 2.5em;
            margin-bottom: 20px;
        }

        .headerText2 {
            border-bottom: 2px solid #FDB515;
            padding-bottom: 5px;
        }

        .headerText3 {
            font-size: 1.5em;
            margin-bottom: 60px;
        }

        .headerBtns {
            padding-left: 15px;
        }

        .btn {
            padding: 15px 25px;
            font-weight: 600;
        }

        .learnMore i {
            position: relative;
            top: 4px;
            left: 17px;
            padding-right: 10px;
            transition: left 400ms ease-in-out;
        }

        .learnMore {
            border: 3px solid #FDB515;
            transition: all 400ms ease-in-out;
        }

        .learnMore:hover i {
            position: relative;
            left: 22px;
            transition: left 400ms ease-in-out;
        }

        .watchVideo {
            border: 3px solid #193561;
            transition: all 400ms ease-in-out;
        }

        .watchVideo:hover {
            background: #193561;
            color: white;
            transition: all 400ms ease-in-out;

        }

        .arrowsSlider {
            position: absolute;
            bottom: 15px;
            right: 0px;
        }


        #sobeyFor {
            background: url('../networkForBg.png');
            background-size: cover;
        }

        #sobeyFor .container-fluid {
            padding: 105px 90px;
        }

        #sobeyFor .Sobeytitle {
            position: relative;
            margin-bottom: 55px;
        }

        #sobeyFor .Sobeytitle h2 {
            font-size: 5em;
            font-weight: 900;
            color: white;
            opacity: 0.1;
            margin-top: 0px;;
        }

        #sobeyFor .Sobeytitle h4 {
            position: absolute;
            bottom: 3px;
            font-weight: 900;
            font-size: 2.5em;
            color: white;
        }

        #sobeyFor h3 {
            font-weight: 600;
            color: white;
        }

        #sobeyFor p {
            color: white;
            padding-right: 150px;
            font-weight: 200;
        }

        #sobeyFor .underlineLearMore {
            color: white;
            font-size: 1.5em;
            font-weight: 600;
        }

        #sobeyFor .underlineLearMore {
            position: relative;
            margin-top: 20px;
            top: 30px;
            z-index: 99;
        }

        #sobeyFor .underlineLearMore:after {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            background: white;
            bottom: -15px;
            left: 0;
            transition: all 100ms ease-in-out;
        }

        #sobeyFor .underlineLearMore:hover:after {
            background: red;
            transition: all 100ms ease-in-out;
        }

        #sobeyFor p {
            line-height: 35px;
        }

        .moreVertical {
            margin-top: 120px;
            background: #ffffff2b;
            border-radius: 50px;
            padding: 6px 20px;
            font-size: 1.1em;
            color: white;
        }

        .moreVertical a {
            color: #FDB515;
            float: right;
            font-weight: 600
        }
        
        .moreVerticalWhite {
            margin-top: 120px;
            background: #1935612b;
            border-radius: 50px;
            padding: 6px 20px;
            font-size: 1.1em;
            color: white;
        }

        .moreVerticalWhite a {
            color: #FDB515;
            float: right;
            font-weight: 600
        }
        

        .Sobeytitle {
            position: relative;
        }

        .Sobeytitle h2 {
            font-size: 5em;
            font-weight: 900;
            color: #193561;
            opacity: 0.1;
            margin-top:70px;
            /*text-align: center;*/
        }

        .Sobeytitle h4 {
            position: absolute;
            bottom: 3px;
            font-weight: 900;
            font-size: 2.1em;
            color: #193561;
            /*text-align: center;*/
            width: 100%;
        }

        .Sobeytitle.white h2 {
            color: white;
            opacity: 0.1;
        }

        .Sobeytitle.white h4 {
            color: white;
        }

        .box1 {
            background: url('../world.svg');
            background-size: cover;
            padding: 135px;
            text-align: center;
            background-repeat: no-repeat;
        }

        .box2 {
            background: url('../usa.svg');
            background-size: cover;
            padding: 135px;
            text-align: center;
            background-repeat: no-repeat;
        }

        #difference {}

        #connectivity {
            background: url('../connectivityBG.svg');
            background-size: cover;
            padding: 105px;
        }

        #connectivity .Sobeytitle {
            position: initial;
        }
        #connectivity .Sobeytitle h4 {
            /*bottom: 43px;*/
            margin-bottom: 25px;
            position: initial;

        }

        #connectivity p {
            color: white;
            margin-bottom: 25px;
        }

        .profileImage {
            width: 70%;
            position: relative;
            right: -30px;
        }

        .customerDetail {
            position: absolute;
            bottom: 50px;
            left: 70px;
        }

        .customerDetail h3 {
            font-weight: 600;
            font-size: 1.6em;
            margin: 0;
        }

        .customerDetail h4 {
            font-weight: 600;
            font-size: 0.9em;
            margin: 0;
        }

        #testimonials .box {
            background: #f7f7f7;
            padding: 70px 20px;
            border-radius: 15px;
        }

        #news,
        #contact {
            padding: 105px 90px;
        }
        .newsBoxWrapper .col-md-4{
            margin-bottom:40px; 
        }

        .newsBox {
            padding: 45px;
            border: 1px solid #E5E5E5;
            height: 100%;
            margin-bottom: 45px;
        }
        .newsBox h4 a{
            color:#2b2b2b;
        }
        .newsBox h4 a:hover{
            color:#FDB515;
        }
        .newsBox h4 {
            font-size: 1.6em;
            font-weight: 600;
        }

        #news .Sobeytitle,
        #testimonials .Sobeytitle {
            margin-bottom: 60px;
        }
        #newsPage .form-group input:focus~.control-label, .form-group input:valid~.control-label{
            top:-2rem;
        }
        #newsPage .form-group input:valid~.control-label{
            top:-2rem;
        }
        #newsPage .form-group{
            margin-top: 0px;
            position: relative;
            top: -3px;
        }
        #newsPage input{
            padding:26px 20px 26px;
            border:2px solid black;
        }
        #news

        .form-styled {
            background: #0051D1;
            padding: 31px 55px;
            border-radius: 23px;
            width: 50vw;
        }
        .form-login{
            background-color: #0051D1;
            width: 100%;
            padding:31px 35px;
        }

        fieldset {
            margin: 0 0 3rem;
            padding: 0;
            border: none;
        }

        .form-radio,
        .form-group {
            position: relative;
            margin-top: 2.25rem;
            margin-bottom: 2.25rem;
            /*width: 40vw;*/
        }


        .form-inline>.form-group,
        .form-inline>.btn {
            display: inline-block;
            margin-bottom: 0;
        }

        .form-help {
            margin-top: 0.125rem;
            margin-left: 0.125rem;
            color: #b3b3b3;
            font-size: 0.8rem;
        }

        .checkbox .form-help,
        .form-radio .form-help,
        .form-group .form-help {
            position: absolute;
            width: 100%;
        }

        .checkbox .form-help {
            position: relative;
            margin-bottom: 1rem;
        }

        .form-radio .form-help {
            padding-top: 0.25rem;
            margin-top: -1rem;
        }

        .form-group input {
            height: 1.9rem;
        }

        .form-group textarea {
            resize: none;
        }

        .form-group select {
            width: 100%;
            font-size: 1rem;
            height: 1.6rem;
            padding: 0.125rem 0.125rem 0.0625rem;
            background: none;
            border: none;
            line-height: 1.6;
            box-shadow: none;
        }

        .form-group .control-label {
            position: absolute;
            top: 0.25rem;
            pointer-events: none;
            padding-left: 0.125rem;
            z-index: 1;
            color: #fff;
            font-size: 1rem;
            font-weight: normal;
            -webkit-transition: all 0.28s ease;
            transition: all 0.28s ease;
        }

        .form-group .bar {
            position: relative;
            border-bottom: 0.0625rem solid #fff;
            display: block;
        }

        .form-group .bar::before {
            content: '';
            height: 0.125rem;
            width: 0;
            left: 50%;
            bottom: -0.0625rem;
            position: absolute;
            background: #337ab7;
            -webkit-transition: left 0.28s ease, width 0.28s ease;
            transition: left 0.28s ease, width 0.28s ease;
            z-index: 2;
        }
        .newsForm label{
            color:#c7c7c7 !important;
        }
        .newsForm input{
            border-bottom:1px solid red;
        }

        .form-group input,
        .form-group textarea {
            display: block;
            background: none;
            padding: 0.125rem 0.125rem 0.0625rem;
            font-size: 1rem;
            border-width: 0;
            border-color: transparent;
            line-height: 1.9;
            width: 100%;
            color: transparent;
            -webkit-transition: all 0.28s ease;
            transition: all 0.28s ease;
            box-shadow: none;
        }

        .form-group input[type="file"] {
            line-height: 1;
        }

        .form-group input[type="file"]~.bar {
            display: none;
        }

        .form-group select,
        .form-group input:focus,
        .form-group input:valid,
        .form-group input.form-file,
        .form-group input.has-value,
        .form-group textarea:focus,
        .form-group textarea:valid,
        .form-group textarea.form-file,
        .form-group textarea.has-value {
            color: #333;
        }

        .form-group select~.control-label,
        .form-group input:focus~.control-label,
        .form-group input:valid~.control-label,
        .form-group input.form-file~.control-label,
        .form-group input.has-value~.control-label,
        .form-group textarea:focus~.control-label,
        .form-group textarea:valid~.control-label,
        .form-group textarea.form-file~.control-label,
        .form-group textarea.has-value~.control-label {
            font-size: 0.8rem;
            color: gray;
            top: -1rem;
            left: 0;
        }

        .form-group select:focus,
        .form-group input:focus,
        .form-group textarea:focus {
            outline: none;
        }

        .form-group select:focus~.control-label,
        .form-group input:focus~.control-label,
        .form-group textarea:focus~.control-label {
            color: #bdbdbd;
        }

        .form-group select:focus~.bar::before,
        .form-group input:focus~.bar::before,
        .form-group textarea:focus~.bar::before {
            width: 100%;
            left: 0;
        }

        .checkbox label,
        .form-radio label {
            position: relative;
            cursor: pointer;
            padding-left: 2rem;
            text-align: left;
            color: #333;
            display: block;
        }

        .checkbox input,
        .form-radio input {
            width: auto;
            opacity: 0.00000001;
            position: absolute;
            left: 0;
        }

        .radio {
            margin-bottom: 1rem;
        }

        .radio .helper {
            position: absolute;
            top: -0.25rem;
            left: -0.25rem;
            cursor: pointer;
            display: block;
            font-size: 1rem;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            color: #999;
        }

        .radio .helper::before,
        .radio .helper::after {
            content: '';
            position: absolute;
            left: 0;
            top: 0;
            margin: 0.25rem;
            width: 1rem;
            height: 1rem;
            -webkit-transition: -webkit-transform 0.28s ease;
            transition: -webkit-transform 0.28s ease;
            transition: transform 0.28s ease;
            transition: transform 0.28s ease, -webkit-transform 0.28s ease;
            border-radius: 50%;
            border: 0.125rem solid currentColor;
        }

        .radio .helper::after {
            -webkit-transform: scale(0);
            transform: scale(0);
            background-color: #337ab7;
            border-color: #337ab7;
        }

        .radio label:hover .helper {
            color: #337ab7;
        }

        .radio input:checked~.helper::after {
            -webkit-transform: scale(0.5);
            transform: scale(0.5);
        }

        .radio input:checked~.helper::before {
            color: #337ab7;
        }

        .checkbox {
            margin-top: 3rem;
            margin-bottom: 1rem;
        }

        .checkbox .helper {
            color: #999;
            position: absolute;
            top: 0;
            left: 0;
            width: 1rem;
            height: 1rem;
            z-index: 0;
            border: 0.125rem solid currentColor;
            border-radius: 0.0625rem;
            -webkit-transition: border-color 0.28s ease;
            transition: border-color 0.28s ease;
        }

        .checkbox .helper::before,
        .checkbox .helper::after {
            position: absolute;
            height: 0;
            width: 0.2rem;
            background-color: #337ab7;
            display: block;
            -webkit-transform-origin: left top;
            transform-origin: left top;
            border-radius: 0.25rem;
            content: '';
            -webkit-transition: opacity 0.28s ease, height 0s linear 0.28s;
            transition: opacity 0.28s ease, height 0s linear 0.28s;
            opacity: 0;
        }

        .checkbox .helper::before {
            top: 0.65rem;
            left: 0.38rem;
            -webkit-transform: rotate(-135deg);
            transform: rotate(-135deg);
            box-shadow: 0 0 0 0.0625rem #fff;
        }

        .checkbox .helper::after {
            top: 0.3rem;
            left: 0;
            -webkit-transform: rotate(-45deg);
            transform: rotate(-45deg);
        }

        .checkbox label:hover .helper {
            color: #337ab7;
        }

        .checkbox input:checked~.helper {
            color: #337ab7;
        }

        .checkbox input:checked~.helper::after,
        .checkbox input:checked~.helper::before {
            opacity: 1;
            -webkit-transition: height 0.28s ease;
            transition: height 0.28s ease;
        }

        .checkbox input:checked~.helper::after {
            height: 0.5rem;
        }

        .checkbox input:checked~.helper::before {
            height: 1.2rem;
            -webkit-transition-delay: 0.28s;
            transition-delay: 0.28s;
        }

        .radio+.radio,
        .checkbox+.checkbox {
            margin-top: 1rem;
        }

        .has-error .legend.legend,
        .has-error.form-group .control-label.control-label {
            color: #d9534f;
        }

        .has-error.form-group .form-help,
        .has-error.form-group .helper,
        .has-error.checkbox .form-help,
        .has-error.checkbox .helper,
        .has-error.radio .form-help,
        .has-error.radio .helper,
        .has-error.form-radio .form-help,
        .has-error.form-radio .helper {
            color: #d9534f;
        }

        .has-error .bar::before {
            background: #d9534f;
            left: 0;
            width: 100%;
        }

        .button {
            position: relative;
            background: currentColor;
            border: 1px solid currentColor;
            font-size: 1.1rem;
            color: #4f93ce;
            margin: 3rem 0;
            padding: 0.75rem 3rem;
            cursor: pointer;
            -webkit-transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
            transition: background-color 0.28s ease, color 0.28s ease, box-shadow 0.28s ease;
            overflow: hidden;
            box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
        }

        .button span {
            color: #fff;
            position: relative;
            z-index: 1;
        }

        .button::before {
            content: '';
            position: absolute;
            background: #071017;
            border: 50vh solid #1d4567;
            width: 30vh;
            height: 30vh;
            border-radius: 50%;
            display: block;
            top: 50%;
            left: 50%;
            z-index: 0;
            opacity: 1;
            -webkit-transform: translate(-50%, -50%) scale(0);
            transform: translate(-50%, -50%) scale(0);
        }

        .button:hover {
            color: #337ab7;
            box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.14), 0 1px 18px 0 rgba(0, 0, 0, 0.12), 0 3px 5px -1px rgba(0, 0, 0, 0.2);
        }

        .button:active::before,
        .button:focus::before {
            -webkit-transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            transition: opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            transition: transform 1.12s ease, opacity 0.28s ease 0.364s;
            transition: transform 1.12s ease, opacity 0.28s ease 0.364s, -webkit-transform 1.12s ease;
            -webkit-transform: translate(-50%, -50%) scale(1);
            transform: translate(-50%, -50%) scale(1);
            opacity: 0;
        }

        .button:focus {
            outline: none;
        }

        .carousel-item {
            position: relative;
        }

        .carousel-item .content {
            position: absolute;
            bottom: 0px;
            background: linear-gradient(360deg, black, transparent);
            padding: 100px 15px 2px 15px;
            width: 100%;
        }

        .carousel-item .content h3 {
            color: white;
            font-weight: 600;
            margin-bottom: 0px;
        }

        .carousel-item .content p {
            color: white;
        }

        .controls {
            position: absolute;
            bottom: 0;
            right: 0;
            margin-bottom: 0px;
            z-index: 99;
        }

        .controls .list-inline-item {
            /*width: 100%;*/
        }

        .carousel-control-next,
        .carousel-control-prev {
            position: unset;
            display: initial;
        }

        .carousel-inner {
            border-radius: 15px;
            box-shadow: 12px 10px 9px 0px #00000059;
            border-bottom-right-radius: 50px;
        }

        .next_btn {
            border-bottom-right-radius: 50px;
        }

        .previous_btn {
            border-top-left-radius: 20px;
        }

        .previous_btn_wrapper {
            position: relative;
            right: -12px;
        }

        #scrollDown {
            pointer-events: none;
            z-index: 100;
            position: absolute;
            bottom: 50px;
            left: 50%;
            transform: translateX(-50%);
            width: 25px;
        }

        #scrollDown svg {
            width: 20px;
            fill: #FDB515;
            overflow: visible !important;
        }


/* Tabs for History */


.tab-container {
    background: #344152;
    padding: 0;
    border: solid 1px #444;
    height: 440px;
    overflow: hidden;
    width: 100%;
}
.nav-tabs.nav-tabs-left {
  float: left;
  border-right: 0;
}
.nav-tabs.nav-tabs-left li a {
  margin-right: 0;
    border-radius: 0;
  border-right: none;
}
.nav-tabs.nav-tabs-left {
  border-bottom: 0;
  max-width: 33%;
}
.nav-tabs.nav-tabs-left li {
  float: none;
  margin: 0;
    text-align: left;
}
.nav-tabs.nav-tabs-left li a,
.nav-tabs.nav-tabs-right li a {
  background-color: #344152;
  color: #fff;
}
.nav-tabs.nav-tabs-left li a:hover,
.nav-tabs.nav-tabs-right li a:hover {
  background-color: rgba(255,255,255,0.9);
  border-color: rgba(255,255,255,0.9);
  color: #444;
}
.nav-tabs.nav-tabs-left li.active a,
.nav-tabs.nav-tabs-right li.active a,
.nav-tabs.nav-tabs-left li.active .glyphicon,
.nav-tabs.nav-tabs-right li.active .glyphicon {
  color: #333;
}
.nav-tabs.nav-tabs-left li.active a:hover,
.nav-tabs.nav-tabs-right li.active a:hover,
.nav-tabs.nav-tabs-left li.active .glyphicon:hover,
.nav-tabs.nav-tabs-right li.active .glyphicon:hover {
  color: #444;
}
.nav-tabs.nav-tabs-left li.active a,
.nav-tabs.nav-tabs-right li.active a,
.nav-tabs.nav-tabs-left li.active a:hover,
.nav-tabs.nav-tabs-right li.active a:hover,
.nav-tabs.nav-tabs-left li.active a:focus,
.nav-tabs.nav-tabs-right li.active a:focus {
  background-color: #fff;
}
.nav-tabs.nav-tabs-left li:not(:last-of-type),
.nav-tabs.nav-tabs-right li:not(:last-of-type) {
  margin-bottom: -1px;
}
.tab-content {
    background: #fff;
    height: 440px;
    overflow-y: scroll;
}
.tab-content.side-tabs .tab-pane {
  display: none;
  padding: 20px;
  overflow-y: auto;
}
.tab-content.side-tabs-left {
  margin-left: 45px;
}
.tab-content.side-tabs-left .tab-pane {
  border-radius: 0;
}
.tab-content.side-tabs-left .tab-pane.active {
  display: block;
  background-color: #fff;
  border-color: #fff;
  color: #333;
  font-weight: 300;
  letter-spacing: 0.1em;
}
.tab-content.side-tabs-right {
  margin-right: 45px;
}
.tab-content.side-tabs-right .tab-pane {
  border-radius: 4px 0 0 4px;
}
main > .row:not(:first-of-type) {
  margin-top: 1.1em;
}
col.time,
col.repname {
  width: 12em;
}
col.did {
  width: 9em;
}
.nav-tabs>li>a,.nav-tabs>li.active>a, .nav-tabs>li.active>a:focus, .nav-tabs>li.active>a:hover {
    border: none;
}
article.works{
     columns:2;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;  
    line-height: 1.5em;
    font-size: 15px; 
    /* -webkit-column-rule: 2px outset #444;
    -moz-column-rule: 2px outset #444;
    column-rule: 2px outset #444;  */
  }
article.works-accordian{
    /* columns:4;
    -webkit-column-gap: 40px;
    -moz-column-gap: 40px;
    column-gap: 40px;*/  
    font-size: 15px; 
    line-height: 1.5em;
    /* -webkit-column-rule: 2px outset #444;
    -moz-column-rule: 2px outset #444;
    column-rule: 2px outset #444;  */
    padding:0px 20px 0px 20px;
  }
  article div{
    -webkit-column-break-inside: avoid;
    page-break-inside: avoid;
    break-inside: avoid;
  }
  article.works h2{
      font-size: 24px;
      margin-top:35px;
  }
  article.works .listingFirst{
      margin-top: 0px;  
    }
    .investors img{
        border-radius: 15px;
        border-bottom-right-radius: 50px;
    }
    .about_video_icon{
        height: 44px;
        width: 44px;
        line-height: 84px;
        border-radius: 50%;
        background-color: #795376;
        display: inline-block;
        position: absolute;
        left: 0;
        right: 0;
        margin: 0 auto;
        top: 21%;
    
    }
    .about_video_wrapper{
        /* margin-bottom:130px; */
        border-radius: 15px;
        border-bottom-right-radius: 50px;
    }
    .videoCollectionBox{
        margin-bottom:80px;
    }
    .about_video_icon:after{
        position: absolute;
        content: "";
        width: 9px;
        height: 10px;
        background-color: #fff;
        left: 4px;
        right: 0px;
        margin: 0 auto;
        top: 38%;
    clip-path: polygon(100% 50%, 0 0, 0 100%);
    }

    
.modal-dialog {
      max-width: 800px;
      margin: 30px auto;
  }



.modal-body {
  position:relative;
  padding:0px;
}
.close {
  position:absolute;
  right:-30px;
  top:0;
  z-index:999;
  font-size:2rem;
  font-weight: normal;
  color:#fff;
  opacity:1;
}
.modal-backdrop.show{
    opacity:0.9;
}

.modal-dialog {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
}

.modal-content {
  margin: 0 auto;
}

/*login*/
#login{
    padding-top:150px;
    height: 100vh;
    background: #DE6262;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #193561, #01060d);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #193561, #01060d)
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
#login .Sobeytitle h2{
    margin-top:20px;
}
.login-block {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.banner-sec {
    /*background: url(https://static.pexels.com/photos/33972/pexels-photo.jpg) no-repeat left bottom;*/
    /*background-size: cover;*/
    /*min-height: 500px;*/
    border-radius: 0 10px 10px 0;
    padding: 0;
}
}

.carousel-inner {
    border-radius: 0 10px 10px 0;
    border-bottom-right-radius: 50px;
}

.carousel-caption {
    text-align: left;
    left: 5%;
}

.login-sec {
    padding: 50px 30px;
    position: relative;
    border-radius: 15px;
    border-bottom-right-radius: 50px;
    background:#0051D1;
}

.login-sec .copy-text {
    position: absolute;
    width: 80%;
    bottom: 20px;
    font-size: 13px;
    text-align: center;
}

.login-sec .copy-text i {
    color: #FEB58A;
}

.login-sec .copy-text a {
    color: #E36262;
}


.btn-login {
    background: #DE6262;
    color: #fff;
    font-weight: 600;
}

#login input{
    border:none;
    border-radius: 0;
    /* border-bottom: 1px solid red; */
}


.myaccordion {
  max-width: 100% ;
  /*margin: 50px auto;*/
  box-shadow: 0 0 1px rgba(0,0,0,0.1);
}

.myaccordion .card,
.myaccordion .card:last-child .card-header {
  border: none;
}

.myaccordion .card-header {
  border-bottom-color: #EDEFF0;
  background: transparent;
}

.myaccordion .fa-stack {
  font-size: 10px;
}

.myaccordion .btn {
  width: 100%;
  font-weight: bold;
  color: #004987;
  padding: 0;
}

.myaccordion .btn-link:hover,
.myaccordion .btn-link:focus {
  text-decoration: none;
}

.myaccordion li + li {
  margin-top: 10px;
}